:root {
    --bgYellow: #FFF4DE;
    --bgPurple: #EEE5FF;
    --ColorBlue: #2B3674;
    --ColorLight: #707EAE;
}

body {
    background-color: #F9F9FB;

}


/* ====== Colors ====== */

.bg-yellow {
    background-color: var(--bgYellow) !important;
}

.bg-purple {
    background-color: var(--bgPurple) !important;
}


/* ====== Typography ====== */
.text-capitalize {
    text-transform: capitalize !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-25 {
    border-radius: 25px;
}

.shadow-mod {
    box-shadow: 0px 16.7043px 32.0165px rgba(62, 73, 84, 0.04) !important;
}

.shdaow-aside {
    box-shadow: inset -1px 4px 4px rgba(0, 0, 0, 0.05) !important;
}

.text-blue {
    color: var(--ColorBlue) !important;
}

.text-grey {
    color: var(--ColorLight) !important;
}


#form-giro {
    transition: .5s all linear;
}

.relative {
    position: relative !important;
}

.form-with-icon{
    
}


/* ====== Grid ====== */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 14px;
    -moz-column-gap: 14px;
    column-gap: 14px;
}



/* ====== aside ====== */

.navbar-brand img {
    max-height: 100%;
}

.navside .nav li:not(:first-child) {
    margin-top: 1rem;
}

.navside .nav li .nav-icon {
    min-width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 50px;
}

.navside .nav li.active .nav-icon {
    background-color: #FFF;
    transition: .3s;
}

.navside .nav li.active .nav-icon img {
    filter: invert(82%);
}


/* ====== POS ====== */
.pos-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #E0E0E0;
    margin: .7rem 0;
}

.pos-item.grand-total {
    border: 1px solid #214AFE;
    background: rgba(33, 74, 254, 0.1);

}

.pos-item .title,
.pos-item .price {
    padding: 0 .5rem;
}

.pos-item .price {
    font-weight: 600;
    color: #333333;
}

.payment-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 14px;
    -moz-column-gap: 14px;
    column-gap: 14px;
}

.payment-box .box {
    text-align: center;
    border-radius: 8px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    padding: 1rem 0;

}

.payment-box .box .icon,
.payment-box .box .title {
    color: #4F4F4F;
}

.payment-box .box .icon i {
    font-size: 22px;
}

.payment-box .box .title {
    margin-top: 5px;
}

.payment-box .box:hover,
.payment-box .box:focus {
    border: 1px solid #214AFE;
}

.payment-box .box:hover .icon,
.payment-box .box:hover .title,
.payment-box .box:focus .icon,
.payment-box .box:focus .title {
    color: #214AFE;
}

/* ====== Responsive ====== */
@media(max-width:768px) {
    .payment-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 14px;
        -moz-column-gap: 14px;
        column-gap: 14px;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 14px;
        -moz-column-gap: 14px;
        column-gap: 14px;
    }
}
